<div class="flex gap-4">

    <h2>Filters: </h2>
    <div class="flex gap-[30px]">
        {%- for filter in collection.filters -%}
        <div class="filter-group-display">

            {%- comment -%} Label {%- endcomment -%}
            <div id="filter-label">
                <p id="filter-label-{{ forloop.index }}"
                    class=" filter-label cursor-pointer hover:">{{
                    filter.label
                    }} &#9660;</p>
                {%- comment -%} {%- if filter.active_values.size > 0 -%}
                <span>({{ filter.active_values.size }})</span>
                {%- endif -%} {%- endcomment -%}
            </div>


            {%- comment -%} //RESPONSE {%- endcomment -%}


                {%- if filter.active_values.size > 0 -%}
                <a href="{{ filter.url_to_remove }}"
                    class="filter-group-display__header-reset">Reset</a>
                {%- endif -%}
         
            {%- comment -%} //FILTER {%- endcomment -%}
            <div id="filters-{{ forloop.index }}" class="filters hidden">
                {%- case filter.type -%}
                {%- when 'boolean' or 'list' -%}
                <ul class="filter-group-display__list">
                    {%- for filter_value in filter.values -%}
                    <li class="filter-group-display__list-item">
                        <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                            <input type="checkbox" name="{{ filter_value.param_name }}"
                                value="{{ filter_value.value }}"
                                id="Filter-{{ filter.param_name }}-{{ forloop.index }}" {%
                                if filter_value.active -%}checked{%- endif %} {% if
                                filter_value.count==0 and filter_value.active==false
                                -%}disabled{%- endif %}>{{
                            filter_value.label }}</label>
                    </li>
                    {%- endfor -%}
                </ul>

                <div class="filter-group-display__submit">
                    <input type="submit" value="Apply">
                </div>
                {%- when 'price_range' -%}
                <div class="filter-group-display__price-range">
                    <div class="filter-group-display__price-range-from">
                        <span>{{ cart.currency.symbol }}</span>

                        <input name="{{ filter.min_value.param_name }}"
                            id="Filter-{{ filter.min_value.param_name }}" {% if
                            filter.min_value.value -%}
                            value="{{ filter.min_value.value | money_without_currency }}"
                            {%- endif %} type="number" placeholder="0" min="0"
                            max="{{ filter.range_max | money_without_currency }}">

                        <label for="Filter-{{ filter.min_value.param_name }}">From</label>
                    </div>
                    <div class="filter-group-display__price-range-to">
                        <span>{{ cart.currency.symbol }}</span>

                        <input name="{{ filter.max_value.param_name }}"
                            id="Filter-{{ filter.max_value.param_name }}" {% if
                            filter.max_value.value -%}
                            value="{{ filter.max_value.value | money_without_currency  }}"
                            {%- endif %} type="number"
                            placeholder="{{ filter.range_max | money_without_currency  }}"
                            min="0"
                            max="{{ filter.range_max | money_without_currency  }}">

                        <label for="Filter-{{ filter.max_value.param_name }}">To</label>
                    </div>
                </div>

                <div class="filter-group-display__submit">
                    <input type="submit" value="Apply">
                </div>
                {%- endcase -%}
            </div>
        </div>

        {%- endfor -%}

        {%- comment -%} Remove {%- endcomment -%}
        {%- comment -%} <div class="active-filters">
            <a href="{{ collection.url }}?sort_by={{ collection.sort_by }}"
                class="hover:bg-primary-brown hover:text-white flex w-fit rounded-md justify-center items-center m-auto py-2 px-3 text-center bg-grey-50 active-filters__clear">Clear
                all</a>

            {%- for filter in collection.filters -%}
            {%- if filter.type == "price_range" -%}
            {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
            <a class="active-filters__remove-filter" href="{{ filter.url_to_remove }}">
                {%- assign min_value = filter.min_value.value | default: 0 -%}
                {%- assign max_value = filter.max_value.value | default: filter.range_max
                -%}
                {{ min_value | money }} - {{ max_value | money }} X
            </a>
            {%- endif -%}
            {%- else -%}
            {%- for filter_value in filter.active_values -%}
            <a class="active-filters__remove-filter"
                href="{{ filter_value.url_to_remove }}">
                {{ filter.label }}: {{ filter_value.label }} X
            </a>
            {%- endfor -%}
            {%- endif- %}
            {%- endfor -%}
        </div> {%- endcomment -%}
    </div>
</div>