{{ 'footer.css' | asset_url | stylesheet_tag }}

<footer class="footer">
    <div class="container footer-container">
        <div class="footer__top">
            {% for block in section.blocks %}
            <div class="footer__top-column">
                <h5>{{ section.settings.heading }}</h5>
                {% if block.settings.text != blank %}
                <p>{{block.settings.text}}</p>
                {% endif %}
                {% if block.settings.menu != blank %}
                <ul>
                    {% for link in section.settings.menu.links %}
                    <li>
                        <a href="{{ link.url }}">{{
                            link.title | escape
                            }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if block.settings.subtext != blank%}
                <ul>
                    {% for subtext in block.settings.subtext %}
                    <li><span>{{ subtext }}</span></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="footer__bottom">
            <p class="footer-copy">Copyright ©2023 All rights reserved | This template is made with ♥ by
                Colorlib Demo Images: Unsplash ,
                Pexels.com</p>
        </div>
    </div>
</footer>

{% schema %}
    {
        "name": "footer",
        "blocks": [
            {
                "type": "",
                "settings": [
                ]
            },
            {
                "type": "",
                "settings": [
                ]
            },
            {
                "type": "",
                "settings": [
                ]
            },
            {
                "type": "",
                "settings": [
                ]
            }
        ],
        "presets": [
            {
                "name": "footer"
            }
        ]
    }
{% endschema %}