{{ 'footer.css' | asset_url | stylesheet_tag }}

<footer class="footer">
    <div class="container footer-container">
        <div class="footer__top">
            {% for block in section.blocks %}
            <div class="footer__top-column">
                <h5>{{ block.settings.title }}</h5>
                {% if block.settings.text != blank %}
                <p>{{block.settings.text }}</p>
                {% endif %}
                {% if lock.settings.menu != blank %}
                <ul>
                    {% for link in block.settings.menu.links %}
                    <li>
                        <a href="{{ link.url }}" class="full-unstyled-link">{{
                            link.title | escape
                            }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="footer__bottom">
            <p class="footer-copy">{{ section.settings.copy-text }}</p>
        </div>
    </div>
</footer>

{% schema %}
    {
        "name": "footer",
        "settings": [
            {
                "type": "text",
                "id": "copy-text",
                "label": "copyright text"
            }
        ],
        "blocks": [
            {
                "type": "text",
                "name": "text",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Heading",
                        "default": "Link heading"
                    },
                    {
                        "type": "text",
                        "id": "text",
                        "label": "Text",
                        "default": "text column"
                    },
                    {
                        "type": "link_list",
                        "id": "menu",
                        "label": "menu",
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "footer"
            }
        ]
    }
{% endschema %}