{{ 'footer.css' | asset_url | stylesheet_tag }}

<footer class="footer">
    <div class="container footer-container">
        <div class="footer__top">
            {% for block in section.blocks %}
            <div class="footer__top-column">
                <h5>{{ block.settings.title }}</h5>
                {% if block.settings.text != blank %}
                <p>{{block.settings.text }}</p>
                {% endif %}
                <ul>
                    {% for link in block.settings.menu.links %}
                    <li>
                        <a href="{{ link.url }}">{{
                            link.title | escape
                            }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <ul class="footer__list-social list-unstyled list-social" role="list">
                    {%- if settings.social_twitter_link != blank -%}
                    <li class="list-social__item">
                        <a href="{{ settings.social_twitter_link }}" class="link list-social__link">
                            {%- render 'icon-twitter' -%}
                            <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                        </a>
                    </li>
                    {%- endif -%}
                    {%- if settings.social_facebook_link != blank -%}
                    <li class="list-social__item">
                        <a href="{{ settings.social_facebook_link }}" class="link list-social__link">
                            {%- render 'icon-facebook' -%}
                            <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                        </a>
                    </li>
                    {%- endif -%}
                </ul>
            </div>
            {% endfor %}
        </div>
        <div class="footer__bottom">
            <p class="footer-copy">{{ section.settings.copy-text }}</p>
        </div>
    </div>
</footer>

{% schema %}
    {
        "name": "footer",
        "settings": [
            {
                "type": "text",
                "id": "copy-text",
                "label": "copyright text"
            }
        ],
        "blocks": [
            {
                "type": "text",
                "name": "text",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Heading",
                        "default": "Link heading"
                    },
                    {
                        "type": "text",
                        "id": "text",
                        "label": "Text",
                        "default": "text column"
                    },
                    {
                        "type": "link_list",
                        "id": "menu",
                        "label": "menu"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "footer"
            }
        ]
    }
{% endschema %}