{{ 'footer.css' | asset_url | stylesheet_tag }}

<footer class="footer">
    <div class="container footer-container">
        <div class="footer__top">
            {% for block in section.blocks %}
            <div class="footer__top-column">
                <h5 class="footer-column__heading">{{ block.settings.title }}</h5>
                {% if block.settings.text != blank %}
                <p>{{block.settings.text }}</p>
                {% endif %}
                <ul>
                    {% for link in block.settings.menu.links %}
                    <li>
                        <a href="{{ link.url }}">{{
                            link.title | escape
                            }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {%- if block.settings.show_social ==true -%}
                <ul class="footer__social-media">
                    {%- if settings.social_twitter_link != blank -%}
                    <li class="social-media-icon">
                        <a href="{{ settings.social_twitter_link }}">
                            {%- render 'icon-twitter' -%}
                        </a>
                    </li>
                    {%- endif -%}
                    {%- if settings.social_facebook_link != blank -%}
                    <li class="social-media-icon">
                        <a href="{{ settings.social_facebook_link }}">
                            {%- render 'icon-facebook' -%}
                        </a>
                    </li>
                    {%- endif -%}
                    {%- if settings.social_instagram_link != blank -%}
                    <li class="social-media-icon">
                        <a href="{{ settings.social_instagram_link }}">
                            {%- render 'icon-instagram' -%}
                        </a>
                    </li class="social-media-icon">
                    {%- endif -%}
                    {%- if settings.social_youtube_link != blank -%}
                    <li class="social-media-icon">
                        <a href="{{ settings.social_youtube_link }}">
                        {%- render 'icon-youtube' -%}
                        </a>
                    </li>
                    {%- endif -%}
                </ul>
                {%- endif -%}
            </div>
            {% endfor %}
        </div>
        <div class="footer__bottom">
            <p class="footer-copy">{{ section.settings.copy-text }}</p>
        </div>
    </div>
</footer>

<style>
    .footer__social-media{
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .social-media-icon a svg{
        width: 25px;
        height: 25px;
        margin: auto;
        display: block;
    }
    /*Desktop*/
    footer {
        padding-top: 90px;
    }

    .footer h5{
        font-size: var(--heading-column);
    }

    .footer ul {
        font-size: var(--heading-item);
    }

    .footer p {
        font-size: var(--heading-item);
    }

    .footer__top-column>p,
    .footer h5 {
    line-height: 25px;
    }

    .footer li,
    .footer a,
    .footer p,
    .footer span {
    color: #595959;
    font-weight: 300;
    font-family: var(--font-heading-family);
    }

    .footer__top {
    display: flex;
    gap: 40px;
    padding-bottom: 56px;
    flex-wrap: wrap;
    justify-content: space-between;
    }

    .footer__top .footer__top-column {
    width: 180px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    }

    .footer h5 {
    font-family: var(--font-body-family);
    font-weight: 400;
    margin-bottom: 35px;
    letter-spacing: 2px;
    }

    footer li {
    margin-top: 10px;
    margin-bottom: 15px;
    }

    .footer ul {
    word-break: break-all;
    padding: 0;
    }

    .footer ul li a{
        font-size: 12px !important;
    }

    .footer-copy {
    text-align: center;
    padding: 10px 0;
    }

    .footer__bottom {
    padding: 1.65rem 0;
    }

    /*Tablet*/
    @media screen and (max-width: 990px) {
    .footer__top .footer__top-column:last-child {
        flex-basis: 100%;
    }
    }

    /*Mobile*/
    @media screen and (max-width: 720px) {
    .footer__top {
        flex-direction: column;
        gap: 15px;
    }

    .footer__top .footer__top-column {
        width: 100%;
    }
    }
</style>

{% schema %}
    {
        "name": "footer",
        "settings": [
            {
                "type": "text",
                "id": "copy-text",
                "label": "copyright text"
            }
        ],
        "blocks": [
            {
                "type": "text",
                "name": "text",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Heading",
                        "default": "Link heading"
                    },
                    {
                        "type": "text",
                        "id": "text",
                        "label": "Text",
                        "default": "text column"
                    },
                    {
                        "type": "link_list",
                        "id": "menu",
                        "label": "menu"
                    },
                    {
                        "type": "checkbox",
                         "id": "show_social",
                        "default": false,
                         "label": "Show"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "footer"
            }
        ]
    }
{% endschema %}