{{ "header.css" | asset_url | stylesheet_tag }}

<header id="header">
    <div class="container header-container">
        <div class="header__top">
            <h1 class="header__logo">
                <a href="{{ routes.root_url }}" class="full-unstyled-link focus-inset">
                    {% if section.settings.image %}
                        <img width="{{ section.settings.image_size }}" src="{{ section.settings.image.src | image_url }}" alt="{{ section.settings.image.alt  }}">
                    {% else %}
                        {{ shop.name }}
                    {% endif %}
                    
                </a>
            </h1>
            <form action="#" class="search-form">
                <input type="search" placeholder="Search" class="search__input" />
                <button class="search__button" type="button">{% render 'search-icon'%}</button>
            </form>
            <div class="menu-icon">
                <span class="menu-icon__hamburger" id="hamburger-button">{% render 'icon-hamburger' %}</span>
            </div>
        </div>
        <div class="backdrop-container" id="backdrop-button"></div>
        <div class="header__bottom">
            <span class="menu-icon__close" id="close-menu-button">{% render 'icon-close' %}</span>
            <ul class="header__menu">
                {% for link in section.settings.menu.links %}
                <li>
                    <a {% if link.current %} aria-current="page" {% endif %} href="{{ link.url }}"
                        class="full-unstyled-link">
                        <span {%- if link.current %} class="active-menu-item" {% endif %}>
                            {{
                            link.title | escape
                            }}
                        </span></a>
                </li>
                {% endfor %}
            </ul>
            <div class="header__cart">
                <span {%- if routes.cart_url == request.path %} class="active-menu-item" {% endif %}>{% render 'cart-icon' %}</span>
                <a href="{{ routes.cart_url }}"
                    class="full-unstyled-link link focus-inset" id="cart-icon-bubble">
                    <span {%- if routes.cart_url == request.path %} class="active-menu-item" {% endif %}>Cart</span>
                    {%- if cart != empty
                    -%}
                    <span class="cart-count">
                        {%- if cart.item_count < 100 -%} <span aria-hidden="true">[{{ cart.item_count }}]</span>
                    {%- endif -%}
                    <span class="visually-hidden">{{
                        "sections.header.cart_count" | t : count : cart.item_count
                        }}</span>
                    </span>
                    {% else %}
                    <span>[0]</span>
                    {%- endif -%}
                </a>
            </div>
        </div>
    </div>
</header>

{% schema %}
{
    "name":"header",
    "settings":[
       {
            "type":"link_list",
            "id":"menu",
            "label":"t:sections.header.settings.menu.label"
       },
       {
            "type":"image_picker",
            "id":"image",
            "label":"select logo"
        },
        {
            "type": "range",
            "id": "image_size",
            "label": "Tamaño de logo en px",
            "default": 200,
            "min": 50,
            "unit": "px",
            "max": 300,
            "step": 5
        }
    ]
 }
{% endschema %}

<script>
    const menuDrawer = document.querySelectorAll('#hamburger-button, #close-menu-button, #backdrop-button')

    const open = document.querySelector('.header__bottom')
    const backdropContainer = document.querySelector('.backdrop-container')

    let menuStatus = 1;

    const toogleMenu = () => {
        if (menuStatus == 1) {
            open.style.right = '0px'
            backdropContainer.style.display = 'block'
            menuStatus = 0
        } else {
            open.style.right = '-270px'
            backdropContainer.style.display = 'none'
            menuStatus = 1
        }
    }

    menuDrawer.forEach(event => {
        event.addEventListener('click', toogleMenu)
    });
</script>

<style>
    /*Desktop*/
    .header__logo {
        font-family: var(--font-heading-family);
    }

    .header-container {
        display: flex;
        flex-direction: column;
        padding-top: 60px !important;
        padding-bottom: 15px !important;
    }

    .header__top {
        margin-bottom: 35px;
    }

    .header__top,
    .header__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__menu {
        display: flex;
        gap: 30px;
        list-style: none;
        padding-left: 0;
    }

    .header__menu li a,
    .header__cart a {
        font-size: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .active-menu-item {
        color: var(--primary-green);
        fill: var(--primary-green);
    }

    .header__cart {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .header__logo {
        font-weight: 700;
        color: var(--primary-grey);
        font-size: 34px;
    }

    .cart-count {
        padding: 0 5px;
    }

    .search-form {
        position: relative;
    }

    .search__input {
        width: 250px;
        padding: 0 10px;
        height: 40px;
        border-radius: 30px;
        border: 1px solid rgba(0, 0, 0, 0.05);
    }

    .search__input::placeholder {
        color: var(--primary-green);
        font-weight: 200;
        color: var(--primary-grey);
        font-family: var(--font-heading-family);
    }

    .search__input:focus {
        outline: none;
        border-color: none;
        box-shadow: none;
    }

    .search__button {
        color: var(--white);
        cursor: pointer;
        height: 40px;
        width: 40px;
        background: var(--primary-green);
        border: 1px solid var(--primary-green);
        border-radius: 40px;
        position: absolute;
        right: 0px;
    }

    .menu-icon,
    .menu-icon__close {
        display: none;
    }

    /*Tablet*/
    @media screen and (max-width: 990px) {

        .header-container {
            padding-top: 30px !important;
        }

        .header {
            position: relative;
        }

        .header__top {
            flex-wrap: wrap;
            margin-bottom: 30px;
        }

        .header__menu {
            gap: 10px;
            margin-bottom: 10px;
        }

        .header__menu,
        .header__cart {
            align-self: flex-start;
            padding: 0 20px;
            align-items: flex-start;
        }

        .menu-icon,
        .menu-icon__close {
            display: block;
            cursor: pointer;
        }

        .menu-icon__close {
            align-self: end;
            width: 25px;
        }

        .menu-icon__hamburger svg:active,
        .menu-icon__close svg:active {
            box-sizing: border-box;
            padding: 2px;
        }

        .header__bottom,
        .header__menu {
            flex-direction: column;
        }

        .header__bottom .cart-icon svg {
            filter: invert(50%);
        }

        .header__bottom {
            z-index: 1;
            font-family: var(--font-heading-family);
            padding: 45px 20px 40px 20px;
            background-color: var(--primary-black);
            color: var(--white);
            position: fixed;
            height: 100vh;
            top: 0;
            right: -270px;
            width: 270px;
            justify-content: flex-start;
            transition: all 0.2s ease-in-out;
        }

        .header__bottom li a,
        .header__bottom a {
            text-transform: capitalize;
            letter-spacing: 0;
            font-size: 14px;
            margin-bottom: 10px;
            color: #ffffff80;
            font-weight: 300;
        }

        .header__bottom a:hover {
            color: var(--white);
        }

        .backdrop-container {
            transition: all 2s ease;
            width: 100vw;
            height: 100vh;
            background-color: var(--backdrop-black);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
            display: none;
        }
    }

    /*Mobile*/
    @media screen and (max-width: 720px) {
        .search-form {
            order: 3;
            width: 100%;
            margin-top: 15px;
        }

        .search-form input {
            width: inherit;
        }
    }
</style>

<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": {{ shop.name | json }},
      {% if section.settings.logo %}
        "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
      {% endif %}
      "sameAs": [
        {{ settings.social_twitter_link | json }},
        {{ settings.social_facebook_link | json }},
        {{ settings.social_pinterest_link | json }},
        {{ settings.social_instagram_link | json }},
        {{ settings.social_tiktok_link | json }},
        {{ settings.social_tumblr_link | json }},
        {{ settings.social_snapchat_link | json }},
        {{ settings.social_youtube_link | json }},
        {{ settings.social_vimeo_link | json }}
      ],
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>