<div class="z-[999] relative">
    <div class="banner-swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper w-[100%] h-[600px]">
            <!-- Slides -->
            {% for block in section.blocks %}
            {% if block.settings.image  %} 
            <div class="w-[100%] swiper-slide text-white relative bg-grey-50 cursor-pointer text-center flex flex-col justify-center items-center"
            style="background-image: url('{{ block.settings.image | image_url }}');">
                <h2 class="text-[60px] uppercase font-bold">{{ block.settings.head-1 }}</h2>
                <h2 class="text-[30px] uppercase tracking-[2px] font-medium">{{ block.settings.head-2 }}</h2>
                <h2 class="slider-head-3 font-thin text-[35px]">{{ block.settings.head-3 }}</h2>
                <p class="slider-text font-thin text-[20px] my-[20px]">{{ block.settings.text }}</p>
                {% if block.settings.link_collection %}
                <a href="{{ block.settings.link_collection }}" class="shop-link slider-link">
                    {{ block.settings.link_collection_label | escape }}
                </a>
                {% endif %}
            </div>
            {% else %}
            <div class="w-[100%] swiper-slide text-white relative bg-grey-50 cursor-pointer text-center flex flex-col justify-center items-center"
            style="background: {{ block.settings.color_background }};">
                <h2 class="text-[60px] uppercase font-bold">{{ block.settings.head-1 }}</h2>
                <h2 class="text-[30px] uppercase tracking-[2px] font-medium">{{ block.settings.head-2 }}</h2>
                <h2 class="slider-head-3 font-thin text-[35px]">{{ block.settings.head-3 }}</h2>
                <p class="slider-text font-thin text-[20px] my-[20px]">{{ block.settings.text }}</p>
                {% if block.settings.link_collection %}
                <a href="{{ block.settings.link_collection }}" class="shop-link slider-link">
                    {{ block.settings.link_collection_label | escape }}
                </a>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            {%- comment -%} ... {%- endcomment -%}
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
</div>

{%- style -%}
    .swiper-slide{
        height: inherit;
        width: inherit;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
    }
{%- endstyle -%}

<style>
    .slider-head-3, .slider-text {
        font-family: var(--font-heading-family);
    }
</style>

{% schema %}
{
    "name":"test-swipper",
    "settings":[
    ],
    "blocks":[
        {
            "name":"Slide image",
            "type":"slide",
            "settings":[
                {
                    "type":"image_picker",
                    "id":"image",
                    "label":"Select image slide"
                },
                {
                    "type": "color_background",
                    "id": "color_background",
                    "label": "Background",
                    "default": "grey"
                },
                {
                    "type": "url",
                    "id": "link_collection",
                    "label": "Link",
                    "default": "/"
                },
                {
                    "type": "text",
                    "id": "link_collection_label",
                    "label": "Label text",
                    "default": "Text link here"
                },
                {
                    "type":"text",
                    "id":"head-1",
                    "label":"Text head 1",
                    "default": "Head one"
                },
                {
                    "type":"text",
                    "id":"head-2",
                    "label":"Head 2",
                    "default": "Head two"
                },
                {
                    "type":"text",
                    "id":"head-3",
                    "label":"Head 3",
                    "default": "Head three"
                },
                {
                   "type":"text",
                   "id":"text",
                   "label":"Anything text",
                   "default": "Text paragraph and other texts"
                }
            ]
        }
    ],
    "presets":[
       {
          "name":"test-swipper"
       }
    ]
 }
{% endschema %}

<script>
    const bannerSwiper = new Swiper('.banner-swiper', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            enabled: false,
            hide: true,
        },
        // autoplay: {
        //     delay: 1000,
        // },
    });
</script>