<div class="container">
    <p class="cart-page__route">Home
        <span class="cart-page__route-bar">/</span>
        <span class="cart-page__route-title">Your cart</span>
    </p>
    {%- if cart == empty -%}
    <div class="w-100 my-[60px]">
        <span class="block m-auto w-fit cart-empty-icon text-primary-red rounded-full bg-grey-400 p-20">{% render
            'cart-empty-icon' %}</span>
        <h3 class="text-center my-8 text-[24px]">Your cart is empty</h3>
        <a href="{{ section.settings.link_collection }}" class="my-8 shop-link slider-link m-auto">{{
            section.settings.link_collection_label |
            escape }}</a>
    </div>
    {% else %}
    <div class="process-container w-100 flex justify-center items-center relative py-[60px]">
        <div class="process-item px-[5%]">
            <p class="rounded-full border-2 border-grey-250 w-[80px] h-[80px] table my-0 mx-auto bg-white mb-[20px]">
                <span class="table-cell align-middle text-center text-grey-250">01</span>
            </p>
            <h3 class="text-center text-[12px]">SHOPPING CART</h3>
        </div>
        <div class="process-item px-[5%]">
            <p class="rounded-full border border-grey-150 w-[80px] h-[80px] table my-0 mx-auto bg-white mb-[20px]">
                <span class="table-cell align-middle text-center text-grey-150">02</span>
            </p>
            <h3 class="text-center text-[12px]">CHECKOUT</h3>
        </div>
        <div class="process-item px-[5%]">
            <p class="rounded-full border  border-grey-150 w-[80px] h-[80px] table my-0 mx-auto bg-white mb-[20px]">
                <span class="table-cell align-middle text-center text-grey-150">03</span>
            </p>
            <h3 class="text-center text-[12px]">ORDER COMPLETE</h3>
        </div>
    </div>

    <div class="mb-[60px]">
        <table class="text-left w-[100%] m-auto table-cart">
            <thead class="bg-grey-50">
                <tr class="px-[100px]">
                    <th class="py-[15px]">PRODUCT DETAILS</th>
                    <th class="text-center">PRICE</th>
                    <th class="text-center">QUANTITY</th>
                    <th class="text-center">TOTAL</th>
                    <th class="text-center">REMOVE</th>
                </tr>
            </thead>
            <tbody>
                <form action="{{ routes.cart_url }}" method="post" id="cart">
                    {%- for item in cart.items -%}
                    <tr class="border-b border-grey-50">
                        <td class="py-[15px] flex items-center gap-4 pl-[20px]">
                            <img class="table-cart-img" src="{{ item.image | image_url: width: 300 }}"
                                alt="{{ item.image.alt | escape }}" loading="lazy" width="100"
                                height="{{ 60 | divided_by: item.image.aspect_ratio | ceil }}">
                            <div class="flex flex-col">
                                <span>{{ item.product.title | escape }}</span>
                                {% for value in item.options_with_values %}
                                <div class="mt-3 text-grey-100">
                                    <span>{{ value.name }}: </span>
                                    <span>{{ value.value }}</span>
                                </div>
                                {% endfor %}
                            </div>
                        </td>
                        <td class="text-center">{{ item.original_price | money }}</td>
                        <td class="text-center">
                            <button
                                class="cart-menos cursor-pointer hover:bg-primary-brown bg-secondary-white hover:text-white py-4 px-3 rounded-md font-semibold"
                                id="cart-menos-{{ item.index | plus: 1 }}">-</button>
                            <input class="border max-w-[60px] border-third-grey py-4 quantity-cart" type="number"
                                form="cart" name="updates[]" id="quantity-{{ item.index | plus: 1 }}" min="1"
                                value="{{ item.quantity }}"
                                aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}">
                            <button
                                class="cart-mas cursor-pointer hover:bg-primary-brown bg-secondary-white hover:text-white py-4 px-3 rounded-md font-semibold"
                                id="cart-mas-{{ item.index | plus: 1 }}">+</button>
                        </td>
                        <td class="text-center">{{ item.final_line_price | money }}</td>
                        <td class="text-center">
                            <span id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                                <a href="{{ item.url_to_remove }}"
                                    class="hover:bg-primary-brown hover:text-white flex w-fit rounded-md justify-center items-center m-auto py-2 px-3 text-center bg-grey-50"
                                    aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                                    x
                                </a>
                            </span>
                        </td>
                    </tr>
                    {%- endfor -%}
                </form>
            </tbody>
        </table>
    </div>
    {%- endif -%}
</div>

<script>
    let quantityCart = document.querySelectorAll('.quantity-cart')
    let resta = document.querySelectorAll(".cart-menos")
    let suma = document.querySelectorAll(".cart-mas")


    //INPUT
    let cantidadSeleccionada = []

    for (let i = 0; i < quantityCart.length; i++) {
        // console.log(quantityCart[i].ariaLabel);
        cantidadSeleccionada.push({ key: i + 1, id: quantityCart[i].id, value: quantityCart[i].valueAsNumber })
        quantityCart[i].addEventListener('change', () => actualizarCantidad(quantityCart[i].id))
        suma[i].addEventListener('click', () => sumar(quantityCart[i]))
        resta[i].addEventListener('click', () => restar(quantityCart[i]))
    }

    function actualizarCantidad(id) {
        cantidadSeleccionada[id] = document.getElementById(id).valueAsNumber;
        // console.log('CANTIDAD', cantidadSeleccionada[id]);
        document.getElementById("cart").submit();
    }

    //SUMAR
    const sumar = (item) => {
        let total = Number(item.value)
        total += 1
        item.value = total
        // console.log("SUMAR", total);
    }

    //RESTAR
    const restar = (item) => {
        let total = Number(item.value)
        if (total > Number(item.min)) {
            total -= 1
            item.value = total
        } else {
            item.value = 1
        }
        // console.log("RESTAR", total);
    }
</script>


<style>
    .table-cart {
        font-family: var(--font-heading-family);
        font-size: 14px;
    }

    thead tr th {
        font-weight: 400;
    }

    th:first-child {
        border-radius: 45px 0 0 45px;
    }

    th:first-child {
        padding-left: 20px;
    }

    th:last-child {
        padding-right: 20px;
    }

    th:last-child {
        border-radius: 0 45px 45px 0;
    }

    .cart-page__route {
        padding: 1.5em 0;
        color: var(--primary-green);
        font-family: var(--font-heading-family);
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
    }

    .cart-page__route-bar,
    .cart-page__route-title {
        color: var(--secondary-black);
    }

    .cart-empty-icon svg {
        width: 100px;
    }

    @media screen and (max-width: 1024px) {
        .table-cart-img {
            display: none;
        }
    }

    @media screen and (max-width: 768px) {

        .cart-menos,
        .cart-mas {
            display: none;
        }

        .table-cart {
            font-size: 12px;
        }
    }
</style>

{% schema %}
{
"name":"main-cart-items-2",
"settings": [
{
"type": "url",
"id": "link_collection",
"label": "Link"
},
{
"type": "text",
"id": "link_collection_label",
"label": "Label text",
"default": "Continue Shopping"
}
],
"blocks":[],
"presets":[
{
"name":"main-cart-items-2"
}
]
}
{% endschema %}