{{ "option_selection.js" | shopify_asset_url | script_tag }}
<div class="container">
    <span id="product-url" data-index="{{ product.url }}"></span>
    <p class="product-page__route">Home
        <span class="product-page__route-bar">/</span>
        <span class="product-page__route-title">product detail / {{ product.title | escape }}</span>
    </p>

    <div class="product-detail-main">
        <div class="product-detail-img">
            <div class="product-detail-swipper border border-third-grey">
                <img id="product-image" class="product-detail__img" src="{{ product.featured_media | image_url }}"
                    alt="">
            </div>
        </div>
        <div class="product-detail-election">
            <h2 class="product-detail-name">{{ product.title | escape }}</h2>
            <h3 class="my-3" id="productPrice">{{ product.price | money_with_currency | es-ESP }}</h3>
            {%- comment -%} <div class="product-detail-rating my-10">&#x2605; &#x2605; &#x2605; &#x2605; &#x2605; (74
                Rating)</div> {%- endcomment -%}
            <p class="product-detail-description">{{ product.description }}</p>
            <div class="quantity-selector flex-col mt-6">
                {% form 'product', product %}
                {% if product.has_only_default_variant == false %}
                {%- for option in product.options_with_values -%}
                <h5 class="mt-7 uppercase">{{ option.name | escape }}</g5>
                    <div class="flex gap-3 select-variant mt-3" data-index="option{{ forloop.index }}"
                        id="ProductSelect-{{ forloop.index0 }}">
                        {% for value in option.values %}
                        <input id="{{ value }}" class="input-radio" type="radio" form="{{ product_form_id }}"
                            name="{{ option.name }}" value="{{ value | escape }}" {% if option.selected_value==value %}
                            checked {% endif %}>
                        <label
                            class="lowercase radio-label p-3 rounded hover:bg-primary-brown bg-secondary-white hover:text-white"
                            for="{{ value }}">
                            {{ value }}
                        </label>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {%- comment -%} {%- for option in product.options_with_values -%}
                    <label for="ProductSelect-option-{{ forloop.index0 }}">
                        {{ option.name | escape }}
                    </label>
                    <select id="ProductSelect-{{ forloop.index0 }}" class="select-variant"
                        data-index="option{{ forloop.index }}">
                        {%- for value in option.values -%}
                        <option value="{{ value | escape }}" {% if option.selected_value==value %} selected="selected"
                            {% endif %}>
                            {{ value | escape }}
                        </option>
                        {%- endfor -%}
                    </select>

                    {%- endfor -%} {%- endcomment -%}

                    <div class="flex gap-2 mt-[30px]">
                        <span
                            class="cursor-pointer hover:bg-primary-brown bg-secondary-white hover:text-white py-4 px-6 rounded-md font-semibold"
                            id="pdp-menos">-</span>

                        <input type="hidden" class="idvariant" name="id" id="idVariantProduct"
                            value="{{ product.selected_or_first_available_variant.id }}">
                        <input class="border border-third-grey py-4" type="number" name="quantity" id="quantity" min="1"
                            value="1">

                        <span
                            class="cursor-pointer hover:bg-primary-brown bg-secondary-white hover:text-white py-4 px-6 rounded-md font-semibold"
                            id="pdp-mas">+</span>
                    </div>
                    <button
                        class="hover:fill-white cursor-pointer flex gap-4 items-center cursor-pointer w-fit mt-3 hover:bg-primary-brown bg-secondary-white hover:text-white py-4 px-5 rounded-md"
                        type="submit">
                        <span class="cart-icon">{% render 'cart-icon' %}</span>
                        Add to cart
                    </button>
                    {% endform %}
            </div>
        </div>
    </div>
</div>

<div class="container">


    {%- comment -%} {% for variant in product.variants %}
    <span>{{variant.inventory_quantity }} unidades disponibles.</p></span>
    {% endfor %} {%- endcomment -%}
</div>

<div class="container">
    {% form 'product', product %}
    <select id="product-select" name="id">
        {% for variant in product.variants %}
        <option value="{{ variant.id }}" {% if variant==product.selected_or_first_available_variant
            %}selected="selected" {% endif %}>
            {{ variant.title }} - {{ variant.price | money }}
        </option>
        {% endfor %}
    </select>
    <input type="number" name="quantity" id="quantity" min="1" value="1"
        class="input-text rounded-sm w-[80px] border-2 mx-4 pl-[50px] h-10" />
    <button type="submit" class="browse-button py-5 px-20">
        Add to cart
    </button>
    {% endform %}

</div>

<script>
    var selectCallback = function (variant, selector) {
        document.querySelector("#product-image").setAttribute("src", variant?.featured_image?.src);
        document.getElementById("productPrice").innerHTML = Shopify.formatMoney(variant.price, '{{ amount }}');

    }

    new Shopify.OptionSelectors('product-select', {
        product: {{ product | json }},
        onVariantSelected: selectCallback,
        enableHistoryState: true
});
</script>

<style>
    .input-radio[type="radio"] {
        display: none;
    }

    .radio-label {
        cursor: pointer;
    }

    input[type="radio"]:checked+label {
        background-color: black;
        color: white;
    }
</style>

<script>
    let url = document.getElementById("product-url")
    url = url.getAttribute("data-index")
    // console.log(url);
    let variants = []
    fetch(`${url}.json`)
        .then(response => response.json())
        .then(json => {
            // console.log(json.product.variants);
            variants.push(json.product.variants)
            //console.log("VARIANTES", json.product);
        })
        .catch((error) => {
            console.error('Error:', error);
        });


    let selects = document.querySelectorAll(".select-variant")
    let options = {}


    for (let i = 0; i < selects.length; i++) {
        //console.log(selects[i].children[0].value);
        // options[`option${i + 1}`] = selects[i].value
        options[`option${i + 1}`] = selects[i].children[0].value
        let props = selects[i].getAttribute("data-index")
        selects[i].addEventListener("change", (e) => getPropVariant(options, e.target.value, props))
        // selects[i].addEventListener("change", () => compareProps(options))
    }

    //VALORES POR DEFECTO DEL PRODUCTO
    let idProduct = document.getElementById("idVariantProduct")
    let priceProduct = document.getElementById("productPrice")

    const getPropVariant = (options, selected, props) => {
        //console.log(selected, props, options);
        let nombrePropiedad = props;
        let valorPropiedad = selected;

        let finalProduct = {};
        options[nombrePropiedad] = valorPropiedad; //{option1: 40, option2: blue}
        //let filterKeys = Object.keys(options); //["option1", "option2"]
        let valoresObjeto = Object.values(options);//["40", "blue"]
        variants[0].forEach(e => {
            if (e.option1 && !e.option2) {
                if (e.option1 === valoresObjeto[0]) {
                    finalProduct = e
                }
            } else if (e.option2 && !e.option3) {
                if (e.option1 === valoresObjeto[0] && e.option2 === valoresObjeto[1]) {
                    finalProduct = e
                }
            } else if (e.option3) {
                if (e.option1 === valoresObjeto[0] && e.option2 === valoresObjeto[1] && e.option3 === valoresObjeto[2]) {
                    finalProduct = e
                }
            }
        })
        //console.log("PRODUCTO FINAL", finalProduct);
        idProduct.value = finalProduct.id
        priceProduct.innerText = "$" + finalProduct.price + " ARS"
    }

</script>

<script>
    let quantity = document.getElementById("quantity")
    let resta = document.getElementById("pdp-menos")
    let suma = document.getElementById("pdp-mas")

    let value = 1

    function restar() {
        if (value > quantity.min) {
            value -= 1
            quantity.value = value
        } else {
            quantity.value = 1
        }
    }

    function sumar() {
        value += 1
        quantity.value = value
    }

    resta.addEventListener("click", restar)
    suma.addEventListener("click", sumar)
</script>

<style>
    .product-page__route {
        padding: 1.5em 0;
        color: var(--primary-green);
        font-family: var(--font-heading-family);
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
    }

    .product-page__route-bar,
    .product-page__route-title {
        color: var(--secondary-black);
    }

    .product-detail-main {
        padding: 5.5em 0;
        display: flex;
        gap: 5%;
    }

    .product-detail-img {
        width: 50%;
    }

    .product-detail-swipper {
        width: 100%;
    }

    .product-detail__img {
        object-fit: cover;
        width: inherit;
    }

    .product-detail-election {
        width: 45%;
        font-family: var(--font-heading-family);
    }

    .product-detail-name,
    .product-detail-price {
        font-weight: 400;
        font-family: var(--font-body-family);
    }

    .product-detail-name {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .product-detail-price {
        font-size: 18px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }

    .product-detail-rating {
        font-size: 13px;
    }

    .product-detail-description {
        margin: 25px 0;
        font-size: 14px;
    }
</style>

{% schema %}
{
"name":"main-product-2",
"settings": [],
"blocks":[],
"presets":[
{
"name":"main-product-2"
}
]
}
{% endschema %}