<div class="container">
    <p class="product-page__route">Home
        <span class="product-page__route-bar">/</span>
        <span class="product-page__route-title">product detail / {{ product.title | escape }}</span>
    </p>

    <div class="product-detail-main">
        <div class="product-detail-img">
            <div class="product-detail-swipper border border-third-grey">
                <img class="product-detail__img" src="{{ product.featured_media | image_url }}" alt="">
            </div>
        </div>
        <div class="product-detail-election">
            <h2 class="product-detail-name">{{ product.title | escape }}</h2>
            <h3 class="my-3">{{ product.price }}</h3>
            <div class="product-detail-rating my-10">&#x2605; &#x2605; &#x2605; &#x2605; &#x2605; (74 Rating)</div>
            <p class="product-detail-description">{{ product.description }}</p>
            <div class="quantity-selector flex-col">
                {% form 'product', product %}
                <div class="flex gap-2">
                    <span
                        class="cursor-pointer hover:bg-primary-brown bg-secondary-white hover:text-white py-4 px-6 rounded-md font-semibold"
                        id="pdp-menos">-</span>

                    <input type="hidden" class="idvariant" name="id"
                        value="{{ product.selected_or_first_available_variant.id }}">
                    <input class="border border-third-grey py-4" type="number" name="quantity" id="quantity" min="1"
                        value="1">

                    <span
                        class="cursor-pointer hover:bg-primary-brown bg-secondary-white hover:text-white py-4 px-6 rounded-md font-semibold"
                        id="pdp-mas">+</span>
                </div>
                <button
                    class="hover:fill-white cursor-pointer flex gap-4 items-center cursor-pointer w-fit mt-3 hover:bg-primary-brown bg-secondary-white hover:text-white py-4 px-5 rounded-md"
                    type="submit">
                    <span class="cart-icon">{% render 'cart-icon' %}</span>
                    Add to cart
                </button>
                {% endform %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="mb-[100px]">VARIANT SELECTOR</h1>
    {% form 'product', product %}
    <input type="text" class="idvariant" name="id" value="{{ product.selected_or_first_available_variant.id }}">
    <input class="border border-third-grey py-4" type="number" name="quantity" id="quantity" min="1" value="1">


    <button
        class="hover:fill-white cursor-pointer flex gap-4 items-center cursor-pointer w-fit mt-3 hover:bg-primary-brown bg-secondary-white hover:text-white py-4 px-5 rounded-md"
        type="submit">
        <span class="cart-icon">{% render 'cart-icon' %}</span>
        Add to cart
    </button>

    {%- endform -%}
</div>
<script>
    fetch('/products/womens-boots-shoes-maca-4.json')
        .then(response => response.json())
        .then(json => console.log(json))
        .catch((error) => {
            console.error('Error:', error);
        });

</script>




<script>
    let quantity = document.getElementById("quantity")
    let resta = document.getElementById("pdp-menos")
    let suma = document.getElementById("pdp-mas")

    let value = 1

    function restar() {
        if (value > quantity.min) {
            value -= 1
            quantity.value = value
        } else {
            quantity.value = 1
        }
    }

    function sumar() {
        value += 1
        quantity.value = value
    }

    resta.addEventListener("click", restar)
    suma.addEventListener("click", sumar)
</script>

<style>
    .product-page__route {
        padding: 1.5em 0;
        color: var(--primary-green);
        font-family: var(--font-heading-family);
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
    }

    .product-page__route-bar,
    .product-page__route-title {
        color: var(--secondary-black);
    }

    .product-detail-main {
        padding: 5.5em 0;
        display: flex;
        gap: 5%;
    }

    .product-detail-img {
        width: 60%;
    }

    .product-detail-swipper {
        width: 100%;
    }

    .product-detail__img {
        object-fit: cover;
        width: inherit;
    }

    .product-detail-election {
        width: 35%;
        font-family: var(--font-heading-family);
    }

    .product-detail-name,
    .product-detail-price {
        font-weight: 400;
        font-family: var(--font-body-family);
    }

    .product-detail-name {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .product-detail-price {
        font-size: 18px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }

    .product-detail-rating {
        font-size: 13px;
    }

    .product-detail-description {
        margin: 25px 0;
        font-size: 14px;
    }
</style>

{% schema %}
{
"name":"main-product-2",
"settings": [],
"blocks":[],
"presets":[
{
"name":"main-product-2"
}
]
}
{% endschema %}